html {
  color: $blue-grey-8;
}

.gap {
  &-xs {
    gap: ($space-base * 0.25);
  }
  &-sm {
    gap: ($space-base * 0.5);
  }
  &-md {
    gap: $space-base;
  }
  &-lg {
    gap: ($space-base * 1.5);
  }
  &-xl {
    gap: ($space-base * 3);
  }
}

.text-biege,
.bg-biege {
  color: #e8c5a1 !important;
}

.display-grid {
  display: grid;
}

// transition animations
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.3s ease;
}
.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
