@use 'quasar/src/css/variables' as q;
@use 'sass:map';

$body-font-size: 16px;
$body-line-height: 1.2;

$primary: #cb997e;
$secondary: #b7b7a4;
$accent: #777d63;

// $dark      : #5e634d;
$dark: #1d1d1d;
$dark-page: #121212;

$positive: #2fb579;
$negative: #ee6055;
$info: #0bb6d9;
$warning: #ffd152;

$generic-border-radius: 12px;

$button-padding: 16px 32px;
$button-border-radius: 12px;
$button-font-size: 16px;
$button-font-weight: 600;

$input-font-size: 16px;
